<h1>Flexi Grid Demo App</h1>
<div style="padding: 10px 50px;">
    <flexi-grid
    [data]="data()">
        <flexi-grid-column field="id" title="Id" [visible]="false" />
        <flexi-grid-column field="name" title="Name" />
        <flexi-grid-column field="email" title="Email" />
        <flexi-grid-column field="address.street" title="Street" />
        <flexi-grid-column field="address.suite" title="Suite" />
        <flexi-grid-column field="address.city" title="City" />
        <flexi-grid-column field="address.zipcode" title="Zip Code" />
        <flexi-grid-column field="address.geo.lat" title="Geo lat" />
        <flexi-grid-column field="address.geo.lng" title="Geo lng" />
        <flexi-grid-column field="phone" title="Phone" />
        <flexi-grid-column field="website" title="Website" />
        <flexi-grid-column field="company.name" title="Company Name" />
        <flexi-grid-column field="company.catchPhrase" title="Catch Phrase" />
        <flexi-grid-column field="company.bs" title="Bs" />
    </flexi-grid>
</div>